appdirs==1.4.4
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.2.0
autopep8==1.5.4
backcall==0.2.0
bleach==3.2.0
blessings==1.7
cc==1.0.0
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
codecov==2.1.10
coloredlogs==14.0
colour-runner==0.1.1
coverage==5.3
cycler==0.10.0
dataclasses==0.6
decorator==4.4.2
deepdiff==5.0.2
defusedxml==0.6.0
distlib==0.3.1
entrypoints==0.3
filelock==3.0.12
future==0.18.2
humanfriendly==8.2
idna==2.10
imbalanced-learn==0.7.0
imblearn~=0.0
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==2.11.2
joblib==0.16.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyter-kernel-gateway==2.4.3
jupyterlab-pygments==0.1.1
kiwisolver==1.2.0
llvmlite==0.34.0
MarkupSafe==1.1.1
matplotlib~=3.3.2
mistune==0.8.4
nbclient==0.5.0
nbconvert==6.0.3
nbformat==5.0.7
nest-asyncio==1.4.0
notebook==6.1.4
numba==0.51.2
numpy~=1.19.2
ordered-set==4.0.2
packaging==20.4
pandas~=1.1.2
pandocfilters==1.4.2
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow~=7.2.0
pluggy==0.13.1
prometheus-client==0.8.0
prompt-toolkit==3.0.7
ptyprocess==0.6.0
py==1.9.0
pycodestyle==2.6.0
pycparser==2.20
Pygments==2.7.1
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
pytorchtools==0.0.2
pytz==2020.1
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
requests==2.24.0
rootpath==0.1.1
scikit-learn~=0.23.2
scipy==1.5.2
seaborn==0.11.0
Send2Trash==1.5.0
shap~=0.37.0
six==1.15.0
sklearn~=0.0
slicer==0.0.3
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
toml==0.10.1
torch~=1.7.0+cpu
torchvision~=0.8.1+cpu
tornado==6.0.4
tox==3.20.1
tqdm~=4.51.0
traitlets==5.0.4
typing-extensions==3.7.4.3
urllib3==1.25.10
virtualenv==20.2.1
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1

setuptools~=50.3.2
torchaudio~=0.7.0
torchparse~=0.1
SoundFile~=0.10.3.post1
tensorboardX~=2.1
BorutaShap~=1.0.14